<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name:</th>
      <th scope="col">Measurement_unit:</th>
      <th scope="col">Price: </th>
      <th scope="col">Quantity:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%=food.name%></td>
      <td><%=food.measurement_unit%></td>
      <td><%=food.price%></td>
      <td><%=food.quantity%></td>
    </tr>
    <%# <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr> %>
  </tbody>
</table>
